.wrapper {
  width: 350px;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.image {
  width: 100%;
  height: 200px;
}

.textBox {
  border: 1px solid $color-gray;
  border-top: none;
  margin: 0;
}

.description,
.title {
  text-align: center;
}